  .footer { 
    border-style: solid;
    border-radius: 8px;
    background: rgb(19, 165, 249);
    height: 100px;
  }
  
  .footer li {
    font-family:'Times New Roman', Times, serif ;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: medium;
    padding-right: 40px;
    padding-top: 20px;
    text-align: center;
    color: white;
    font-size: 2rem;
  }

  a:visited {
    color: purple;
  }

  a:hover {
    color: red;
  }